<section class="contact mt-[200px] mb-80">
  <div class="container">
    <div class="caption-wrapper max-w-[624px] mx-auto">
      <p class="contact__caption caption-s">
        Contact Me
      </p>
      <h2 class="contact__title heading-h2 mb-md">
        Let's build something together... Get in touch with me.
      </h2>
      <p class="contact__text text-gray-200 mb-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nulla natus deserunt earum nemo incidunt ducimus praesentium autem magni laborum unde doloremque quas sit, temporibus libero nobis et blanditiis. Ipsam.
      </p>
      <form>
        <div class="contact__form-inner mb-lg">
          <p class="contact__form-title text-gray-200 mb-[12px]">Name</p>
          <input class="w-full border-solid border-b border-gray-500 p-[10px]" type="text" placeholder="John" required>
        </div>
        <div class="contact__form-inner mb-lg">
          <p class="contact__form-title text-gray-200 mb-[12px]">E-mail</p>
          <input class="w-full border-solid border-b border-gray-500 p-[10px]" type="mail" placeholder="E-mail" required>
        </div>
        <div class="contact__form-inner mb-lg">
          <p class="contact__form-title text-gray-200 mb-[12px]">Subject</p>
          <input class="w-full border-solid border-b border-gray-500 p-[10px]" type="text" placeholder="Subject" required>
        </div>
        <div class="contact__form-message">
          <p class="contact__form-title text-gray-200 mb-[12px]">Message</p>
          <textarea class="w-full border-solid border-b border-gray-500 p-[10px] resize-none" name="message" placeholder="Type your message" required></textarea>
        </div>
      </form>
      <div class="hero__info-button inline-block mt-xl">
          <a class="button-cta-m" href="@@webRoot/contact.html">
            Start a Project
          </a>
        </div>
    </div>
  </div>
</section>