<section class="projects mb-60 mt-[100px] lg:my-160">
  <div class="container">
    <div class="projects__box py-lg md:py-80">
      <p class="caption-s projects__subtitle">My Recent Work</p>
      <div class="projects__wrapper lg:flex lg:gap-lg items-start">
        <div class="projects__inner flex-45 grow flex flex-wrap lg:flex-col mb-lg lg:mb-0">
          <div class="projects__item projects__item-small flex-45 h-[150px] lg:h-[412px] lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-1.jpg" alt="projects" />
            <a href="@@webRoot/projects/seatcovers" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-big flex-45 ml-md h-[150px] lg:h-[581px] lg:mt-lg lg:ml-0 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-2.jpg" alt="projects" />
               <a href="@@webRoot/projects/wifi" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-small mt-md h-[150px] lg:h-[412px] lg:mt-lg lg:ml-0 flex-45 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-7.jpg" alt="projects" />
            <a href="@@webRoot/projects/wc-template-4" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-big mt-md h-[150px] lg:h-[581px] lg:mt-lg ml-md lg:ml-0 flex-45 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-6.jpg" alt="projects" />
               <a href="@@webRoot/projects/nimble-token" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
        </div>
        <div class="projects__inner flex-45 grow flex flex-wrap lg:flex-col">
          <div class="projects__item projects__item-big h-[150px] lg:h-[581px] flex-45 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-4.jpg" alt="projects" />
               <a href="@@webRoot/projects/video-line" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-small h-[150px] lg:h-[412px] lg:mt-lg ml-md lg:ml-0 flex-45 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-3.jpg" alt="projects" />
               <a href="@@webRoot/projects/dance" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-500">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-big h-[150px] mt-md lg:h-[581px] lg:mt-lg flex-45 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-5.jpg" alt="projects" />
               <a href="@@webRoot/projects/neuro" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
