<section class="projects my-60 md:my-160">
  <div class="container">
    <h2 class="heading-h2 projects__title mb-80">My Works</h2>
    <div class="projects__wrapper flex lg:gap-lg flex-wrap">
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/projects/wc-template-4" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-7.jpg" alt="site-6"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" href="@@webRoot/projects/nimble-token" target="_blank">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/seatcovers" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-1.jpg" alt="site-1"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" target="_blank" href="@@webRoot/projects/seatcovers">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/wifi" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-2.jpg" alt="site-2"></a>
        </div>
        <div class="projects__item-button body-text-l">
          <a class="project__button button-link-arrow" target="_blank" href="@@webRoot/projects/wifi">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/dance" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-3.jpg" alt="site-3"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" target="_blank" href="@@webRoot/projects/dance">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/video-line" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-4.jpg" alt="site-4"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" target="_blank" href="@@webRoot/projects/video-line">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/neuro" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-5.jpg" alt="site-5"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" target="_blank" href="@@webRoot/projects/neuro">View Project</a>
        </div>
      </div>
      <div class="projects__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg py-md md:py-lg bg-third-dark">
        <div class="projects__item-img mb-sm md:mb-md lg:mb-xl">
          <a href="@@webRoot/projects/nimble-token" target="_blank"><img class="lg:min-h-[126px] xl:min-h-[173px]" src="@@webRoot/images/illustrations/site-6.jpg" alt="site-6"></a>
        </div>
        <div class="projects__item-button body-text-l ">
          <a class="project__button button-link-arrow" href="@@webRoot/projects/nimble-token" target="_blank">View Project</a>
        </div>
      </div>
    </div>
  </div>
</section>