<section class="about mb-60 mt-[100px] lg:my-160">
  <div class="container">
    <div class="about__wrapper lg:flex lg:justify-between mb-80">
      <h2 class="about__title heading-h3 mb-xl lg:mb-0">
        About Me
      </h2>
      <div class="about__inner flex-60">
        <p class="about__text body-text-m text-gray-400 mb-md md:mb-lg">
          Hi, my name is Alexander. I'm a junior Front-End Developer.
        </p>
        <p class="about__text body-text-m text-gray-400 mb-md md:mb-lg">
           I create successful websites that are fast, easy to
          use, and built with best practices. I work to make a better web.
          One that is fast, easy to use, beautiful, accessible to all, and
          frustration-free. Regardless of your specific business
          requirements, in solving these challenges, you have a great chance
          of finding success online.
        </p>
        <p class="about__text body-text-m text-gray-400 mb-md md:mb-lg">
          I use HTML, CSS, and JavaScript to produce responsive websites
          that provide users the best and most appropriate experience suited
          to their device and browser. I write standards based code that is
          semantic, accessible, search-engine friendly, easy to maintain,
          cross browser compatible, and performant.
        </p>
        <p class="about__text body-text-m text-gray-400 mb-md md:mb-lg">
          I am an experienced programmer who can find creative solutions to technical challenges, whilst at the same time designing sleek and visually appealing websites. 
          I have extensive knowledge of recognized technical standards and i'm familiar with modern build practices.
        </p>
      </div>
    </div>
    <div class="about__images flex flex-wrap sm:flex-nowrap justify-center md:justify-start lg:gap-lg lg:justify-center">
      <div class="about__image max-h-[500px] md:flex-36 md:mt-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-1.jpg" alt="photo" loading="lazy"></div>
      <div class="about__image max-h-[500px] ml-md sm:ml-[10px] md:flex-36 md:mt-0 lg:ml-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-2.jpg" alt="photo" loading="lazy"></div>
      <div class="about__image max-h-[500px] mt-md sm:mt-0 sm:ml-[10px] md:flex-36 md:mt-0 lg:ml-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-3.jpg" alt="photo" loading="lazy"></div>
    </div>
  </div>
</section>