<section class="about my-60 lg:my-160">
  <div class="container">
    <div class="about__wrapper lg:flex lg:justify-between mb-lg md:mb-80">
      <h2 class="about__title heading-h2">
        About Me
      </h2>
      <div class="about__inner flex-60">
        <p class="about__text my-md lg:mt-0 body-text-m text-gray-400 lg:mb-lg">
          Hi, my name is Alexander. I'm a junior Front-End Developer.
        </p>
        <a href="@@webRoot/about.html" class="about__button button-link-m text-primary-light hover:text-primary-dark hover:duration-200 duration-200">
          More About Me
        </a>
      </div>
    </div>
    <div class="about__images flex flex-wrap sm:flex-nowrap justify-center md:justify-start lg:gap-lg lg:justify-center">
      <div class="about__image max-h-[500px] md:flex-36 md:mt-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-1.jpg" alt="photo"></div>
      <div class="about__image max-h-[500px] ml-md sm:ml-[10px] md:flex-36 md:mt-0 lg:ml-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-2.jpg" alt="photo"></div>
      <div class="about__image max-h-[500px] mt-md sm:mt-0 sm:ml-[10px] md:flex-36 md:mt-0 lg:ml-0 lg:flex-30"><img class="max-h-[160px] w-full 450:max-h-[200px] md:max-h-[500px]" src="images/illustrations/about-3.jpg" alt="photo"></div>
    </div>
  </div>
</section>