<section class="hero mt-[188px] mb-[160px]">
  <div class="container">
    <div class="hero__wrapper flex justify-between gap-[78px]">
      <div class="hero__info flex-65">
        <p class="hero__info-subtitle caption uppercase mb-md">
          HELLO! I AM Alexander Chernikov
        </p>
        <h1 class="hero__info-title heading-h1 mb-md">
          Building Delightful Design Experinces for Users.
        </h1>
        <p class="hero__info-text body-text-xl mb-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque tempor, malesuada adipiscing congue diam.
        </p>
        <a href="#" class="hero__info-button button-cta-m">
          Start a Project
        </a>
      </div>
      <div class="hero__image flex-30">
        <div class="hero__image-photo mb-md"><img src="images/photos/hero-photo.jpg" alt="photo"></div>
        <div class="contact-me__wrapper">
          <p class="contact-me__title body-text-s text-16 text-gray-200 mb-[4px]">
            Contact me at
          </p>
          <a href="mailto:alexandrchernocov@gmail.com" class="contact-me__mail body-text-m">alexandrchernicov@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>