<section class="hero mt-[188px] mb-[160px]">
  <div class="container">
    <div class="hero__wrapper lg:flex lg:justify-between lg:gap-[78px]">
      <div class="hero__info lg:flex-65">
        <p class="hero__info-subtitle caption-s uppercase">
          HELLO! I AM Alexander Chernikov
        </p>
        <h1 class="hero__info-title heading-h1 mb-md">
          Building Delightful Design Experinces for Users.
        </h1>
        <p class="hero__info-text body-text-l mb-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque tempor, malesuada adipiscing congue diam.
        </p>
        <div class="hero__info-button inline-block sm:flex sm:justify-center lg:justify-start">
          <a class="button-cta-m" href="@@webRoot/contact.html">
            Start a Project
          </a>
        </div>
      </div>
      <div class="hero__image mt-md lg:flex-30">
        <div class="hero__image-photo mb-sm lg:mb-md"><img src="images/photos/hero-photo.jpg" alt="photo"></div>
        <div class="contact-me__wrapper">
          <div class="contact-me__title body-text-s text-16 text-gray-200 mb-[4px]">
            Contact me at
          </div>
          <a href="mailto:alexandrchernocov@gmail.com" class="contact-me__mail body-text-m">alexandrchernicov@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>