<section class="hero mb-60 mt-[100px] lg:my-160">
  <div class="container">
    <div class="hero__wrapper lg:flex lg:justify-between lg:gap-[78px]">
      <div class="hero__info lg:flex-65">
        <p class="hero__info-subtitle caption-s uppercase">
          HELLO! I AM Alexander Chernikov
        </p>
        <h1 class="hero__info-title heading-h1 mb-md">
          Building Delightful Design Experiences for Users.
        </h1>
        <p class="hero__info-text body-text-l mb-xl">
          If you have a website design, then what to expect?
        </p>
        <div class="hero__info-button flex justify-center lg:justify-start">
          <a class="button-cta-m " href="@@webRoot/contact.html">
            Start a Project
          </a>
        </div>
      </div>
      <div class="hero__image flex flex-col items-center mt-md lg:flex-30">
        <div class="hero__image-photo mb-sm lg:mb-md"><img class="max-h-[300px] w-full md:max-h-[500px]" src="@@webRoot/images/photos/preview-photo.jpg" alt="photo" loading="lazy"></div>
        <div class="contact-me__wrapper">
          <div class="contact-me__title body-text-s text-16 text-gray-200 mb-[4px]">
            Contact me at
          </div>
          <a href="mailto:alexandrchernocov@gmail.com" class="contact-me__mail body-text-m duration-[0.2s] hover:text-primary-dark hover:duration-[0.2s]">alexandrchernicov@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>