<section class="history bg-third-dark py-[128px] my-160">
  <div class="container">
    <div class="history__wrapper flex justify-between">
      <div class="history__info flex-30">
        <h2 class="history__title heading-h2">
          Honourable Recognitions & Awards
        </h2>
        <p class="history__text">
          There are many more, review my <a class="text-primary-dark" href="#">Linkedin</a> profile to find out.
        </p>
      </div>
      <div class="history__timeline flex flex-wrap flex-60">
        <div class="history__timeline-item flex-50">
          <h3 class="history__timeline-year heading-h3 text-primary-dark">
            2001
          </h3>
          <h4 class="history__timeline-text heading-h4 text-secondary-dark">
            Member of jury award
          </h4>
        </div>
        <div class="history__timeline-item flex-50">
          <h3 class="history__timeline-year heading-h3 text-primary-dark">
            2010
          </h3>
          <h4 class="history__timeline-text heading-h4 text-secondary-dark">
            Design of the day award
          </h4>
        </div>
        <div class="history__timeline-item flex-50">
          <h3 class="history__timeline-year heading-h3 text-primary-dark">
            2018
          </h3>
          <h4 class="history__timeline-text heading-h4 text-secondary-dark">
            Fans favourite
          </h4>
        </div>
        <div class="history__timeline-item flex-50">
          <h3 class="history__timeline-year heading-h3 text-primary-dark">
            2019
          </h3>
          <h4 class="history__timeline-text heading-h4 text-secondary-dark">
            Honourable design
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>