<section class="projects my-80">
  <div class="container">
    <div class="projects__box py-80 border-y  border-gray-200">
      <p class="caption-s projects__subtitle">My Recent Work</p>
      <h2 class="heading-h2 text-gray-300 projects__title mb-80">I love taking Design from vision to reality.</h2>
      <div class="projects__wrapper flex gap-lg items-start">
        <div class="projects__inner flex-45 grow flex flex-col">
          <div class="div__item-small h-[412px]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-1.jpg" alt="projects" />
          </div>
          <div class="div__item-big h-[581px] mt-lg">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-2.jpg" alt="projects" />
          </div>
        </div>
        <div class="projects__inner flex-45 grow flex flex-col">
          <div class="div__item-big h-[581px]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-4.jpg" alt="projects" />
          </div>
          <div class="div__item-small h-[412px] mt-lg">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-3.jpg" alt="projects" />
          </div>
        </div>
      </div>
      <div class="projects__button text-center mt-[64px] inline-block">
        <a href="#" class="button-cta-m">View all projects</a>
      </div>
    </div>
  </div>
</section>
