<section class="projects my-80">
  <div class="container">
    <div class="projects__box py-80 border-y  border-gray-200">
      <p class="caption-s projects__subtitle">My Recent Work</p>
      <h2 class="heading-h2 text-gray-300 projects__title mb-80">I love taking Design from vision to reality.</h2>
      <div class="projects__wrapper lg:flex lg:gap-lg items-start">
        <div class="projects__inner flex-45 grow flex lg:flex-col mb-lg lg:mb-0">
          <div class="div__item-small h-[150px] lg:h-[412px] flex-50 lg:flex-[auto]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-1.jpg" alt="projects" />
          </div>
          <div class="div__item-big h-[150px] lg:h-[581px] lg:mt-lg ml-md lg:ml-0 flex-50 lg:flex-[auto]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-2.jpg" alt="projects" />
          </div>
        </div>
        <div class="projects__inner flex-45 grow flex lg:flex-col">
          <div class="div__item-big h-[150px] lg:h-[581px] flex-50 lg:flex-[auto]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-4.jpg" alt="projects" />
          </div>
          <div class="div__item-small h-[150px] lg:h-[412px] lg:mt-lg ml-md lg:ml-0 flex-50 lg:flex-[auto]">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/projects-3.jpg" alt="projects" />
          </div>
        </div>
      </div>
      <div class="projects__button text-center mt-[64px] flex justify-center">
        <a href="#" class="button-cta-m">View all projects</a>
      </div>
    </div>
  </div>
</section>
