<section class="projects my-60 lg:my-160">
  <div class="container">
    <div class="projects__box py-lg md:py-80 border-y  border-gray-200">
      <p class="caption-s projects__subtitle">My Recent Work</p>
      <h2 class="heading-h2 text-gray-300 projects__title mb-lg md:mb-80">I love taking Design from vision to reality.</h2>
      <div class="projects__wrapper lg:flex lg:gap-lg items-start">
        <div class="projects__inner flex-45 grow flex lg:flex-col mb-lg lg:mb-0">
          <div class="projects__item projects__item-small h-[150px] lg:h-[412px] flex-50 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-1.jpg" alt="projects" />
            <a href="@@webRoot/projects/seatcovers" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-big h-[150px] lg:h-[581px] lg:mt-lg ml-md lg:ml-0 flex-50 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-2.jpg" alt="projects" />
               <a href="@@webRoot/projects/wifi" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
        </div>
        <div class="projects__inner flex-45 grow flex lg:flex-col">
          <div class="projects__item projects__item-big h-[150px] lg:h-[581px] flex-50 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-4.jpg" alt="projects" />
               <a href="@@webRoot/projects/dance" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-300">
              View Project
            </a>
          </div>
          <div class="projects__item projects__item-small h-[150px] lg:h-[412px] lg:mt-lg ml-md lg:ml-0 flex-50 lg:flex-[auto] relative transition-all before:absolute before:w-full before:h-full before:opacity-0 before:bg-gray-700 hover:before:opacity-100 before:duration-[0.4s] focus:before:opacity-100 before:transition-all">
            <img class="min-h-full max-h-full w-full" src="images/illustrations/site-3.jpg" alt="projects" />
               <a href="@@webRoot/projects/video-line" target="_blank" class="projects__hover absolute w-full h-full flex justify-center items-center heading-h4 text-white left-0 top-0 opacity-0 duration-500">
              View Project
            </a>
          </div>
        </div>
      </div>
      <div class="projects__button text-center mt-[64px] flex justify-center">
        <a href="@@webroot/my-works.html" class="button-cta-m">View all projects</a>
      </div>
    </div>
  </div>
</section>
