<section class="services py-160 text-center">
  <div class="container">
    <div class="services__wrapper md:flex md:justify-between">
      <h2 class="services__title heading-h2 text-gray-300 mb-xl lg:mb-0">
        Services
      </h2>
      <div class="services__inner inline-block flex-60 lg:flex flex-wrap text-gray-500">
        <h3 class="services__subtitle heading-h3 flex-100 lg:flex-50 pl-[65px] relative before:absolute before:w-lg before:h-lg before:bg-[url('/images/decor/services-icon.svg')] before:left-0 before:top-[50%] before:translate-y-[-50%]">
          Product Design
        </h3>
        <h3 class="services__subtitle heading-h3 pt-xl lg:pt-0 flex-100 lg:flex-50 pl-[65px] relative before:absolute before:w-lg before:h-lg before:bg-[url('/images/decor/services-icon.svg')] before:left-0 before:top-[50%] before:translate-y-[-50%]">
          Branding
        </h3>
        <h3 class="services__subtitle heading-h3 pt-xl flex-100 lg:flex-50 pl-[65px] relative before:absolute before:w-lg before:h-lg before:bg-[url('/images/decor/services-icon.svg')] before:left-0 before:top-[50%] before:translate-y-[-50%]">
          Visual & UI Design
        </h3>
        <h3 class="services__subtitle heading-h3 pt-xl flex-100 lg:flex-50 pl-[65px] relative before:absolute before:w-lg before:h-lg before:bg-[url('/images/decor/services-icon.svg')] before:left-0 before:top-[50%] before:translate-y-[-50%]">
          Web Devlopemnt
        </h3>
        <h3 class="services__subtitle heading-h3 pt-xl flex-100 lg:flex-50 pl-[65px] relative before:absolute before:w-lg before:h-lg before:bg-[url('/images/decor/services-icon.svg')] before:left-0 before:top-[50%] before:translate-y-[-50%]">
          Php Development
        </h3>
      </div>
    </div>
  </div>
</section>