<section class="testimonial my-160">
  <div class="container">
    <p class="testimonial__caption caption-s">Testimonial</p>
    <h2 class="heading-h2 testimonial__title mb-80">What people are saying About me</h2>
    <div class="testimonial__wrapper flex lg:gap-lg flex-wrap">
      <div class="testimonial__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg lg:px-2xl py-md md:py-lg lg:py-[50px] bg-third-dark">
        <div class="testimonial__item-icon mb-lg">
          <img src="images/icons/testimonial.svg" alt="#" />
        </div>
        <p class="testimonial__item-text body-text-m mb-lg">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
        <div class="author__wrapper flex justify-start">
          <div class="author__photo w-2xl h-2xl mr-sm">
            <img class="rounded-full" src="images/illustrations/author.jpg" alt="author" />
          </div>
          <div class="author__inner">
            <p class="author__name bode-text-l">Steve Mark</p>
            <p class="author__position opacity-50">Founder & Leader</p>
          </div>
        </div>
      </div>
      <div class="testimonial__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg lg:px-2xl py-md md:py-lg lg:py-[50px] bg-third-dark">
        <div class="testimonial__item-icon mb-lg">
          <img src="images/icons/testimonial.svg" alt="#" />
        </div>
        <p class="testimonial__item-text body-text-m mb-lg">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
        <div class="author__wrapper flex justify-start">
          <div class="author__photo w-2xl h-2xl mr-sm">
            <img class="rounded-full" src="images/illustrations/author.jpg" alt="author" />
          </div>
          <div class="author__inner">
            <p class="author__name bode-text-l">Steve Mark</p>
            <p class="author__position opacity-50">Founder & Leader</p>
          </div>
        </div>
      </div>
      <div class="testimonial__item m-[15px] lg:m-0 flex-auto lg:flex-30 px-md md:px-lg lg:px-2xl py-md md:py-lg lg:py-[50px] bg-third-dark">
        <div class="testimonial__item-icon mb-lg">
          <img src="images/icons/testimonial.svg" alt="#" />
        </div>
        <p class="testimonial__item-text body-text-m mb-lg">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
        <div class="author__wrapper flex justify-start">
          <div class="author__photo w-2xl h-2xl mr-sm">
            <img class="rounded-full" src="images/illustrations/author.jpg" alt="author" />
          </div>
          <div class="author__inner">
            <p class="author__name bode-text-l">Steve Mark</p>
            <p class="author__position opacity-50">Founder & Leader</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
