<header class="header fixed bg-third-light py-[20px] inset-x-0 top-0 z-50">
    <div class="header__container mx-auto w-full px-sm lg:px-md xl:px-2xl">
      <div class="header__navbar flex justify-between items-center w-full">
          <div class="header__logo flex items-center z-110 max-w-[150px] lg:max-w-[200px]">
            <a href="./index.html" class="header__logo-link"><img class="max-w-full" src="images/logo.svg" alt="Logo" loading="lazy"/></a>
          </div>
          <nav class="header__menu block">
            <ul class="header__menu-list flex z-100 fixed flex-col right-0 top-0 bottom-0 left-full w-full h-full bg-third-dark pt-80 m-0 p-0 justify-start text-left transition-all duration-300 overflow-x-hidden overflow-y-auto overscroll-y-contain pt-120px px-md lg:z-1 lg:static lg:flex-row lg:bg-transparent lg:overflow-x-visible lg:pt-0 lg:px-0">
              <li class="header__menu-list-item mr-xl"><a class="header__menu-list-link menu-link py-md border-b-gray-200 border-b w-full transition-colors hover:text-primary-light lg:py-0 lg:border-none" href="@@webRoot/about.html">About me</a></li>
              <li class="header__menu-list-item mr-xl"><a class="header__menu-list-link menu-link py-md border-b-gray-200 border-b w-full transition-colors hover:text-primary-light lg:py-0 lg:border-none" href="@@webRoot/my-works.html">My work</a></li>
              <li class="header__menu-list-item mr-xl"><a class="header__menu-list-link menu-link py-md border-b-gray-200 border-b w-full transition-colors hover:text-primary-light lg:py-0 lg:border-none" href="@@webRoot/contact.html">Contact me</a></li>
            </ul>
          </nav>
          <div class="header__burger block relative h-[18px] w-[20px] z-100 cursor-pointer before:absolute after:absolute before:h-[2px] after:h-[2px] before:w-full after:w-full before:bg-white after:bg-white transition-all before:top-0 after:bottom-0 before:duration-300 after:duration-300 before:rounded-71 after:rounded-71 sm:w-[25px] lg:hidden">
            <span class="absolute top-xs right-0 w-full bg-white h-[2px] transition-all scale-100 duration-300 rounded-71"></span>
          </div>
      </div>
    </div>
  </header>